html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
button,
textarea,
select {
    margin: 0;
    padding: 0;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    list-style: none;
    font-weight: normal;
    vertical-align: baseline;
}

body {
    background: url(img/bg.jpg);
}

a {
    text-decoration: none;
    color: black;
}

.warp {
    position: absolute;
    width: 328px;
    left: 4%;
    top: 4%;
    border: 4px solid rgb(221, 183, 79);
    border-left: none;
    border-right: none;
    border-radius: 5px;
}

.menu {
    margin-bottom: 0px;
    border: 4px solid rgb(221, 183, 79);
    border-top: none;
    background-color: rgb(236, 217, 180);
}

.menu:last-of-type {
    border-bottom: none;
}

.shade {
    background-color: #fec270;
    color: white;
    height: 34px;
    font-size: 18px;
    padding-left: 15px;
    border-bottom: 2px solid #ddaa67;
}

.shade p {
    float: left;
    line-height: 34px;
    cursor: default;
}

.shade p::selection {
    background-color: transparent;
}

.shade span {
    display: block;
    width: 34px;
    height: 34px;
    float: right;
    margin-right: 16px;
    position: relative;
    cursor: pointer;
}

.shade span {
    text-align: center;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    line-height: 34px;
}

.shade span::selection {
    background-color: transparent;
}

.link_box {
    position: relative;
    padding: 0 10px 4px 10px;
    /* width: 300px; */
    transition: all .3s;
    max-height: 400px;
    height*: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    margin-top: -420px;
    margin-top*: -480px;
    /*-----------*/
    scrollbar-arrow-color: #ccc;
    /*三角箭头的颜色*/
    scrollbar-face-color: #fff;
    /*立体滚动条的颜色*/
    scrollbar-3dlight-color: #fff;
    /*立体滚动条亮边的颜色*/
    scrollbar-highlight-color: #fff;
    /*滚动条空白部分的颜色*/
    scrollbar-shadow-color: #999;
    /*立体滚动条阴影的颜色*/
    scrollbar-darkshadow-color: #fff;
    /*立体滚动条强阴影的颜色*/
    scrollbar-track-color: #ccc;
    /*立体滚动条背景颜色*/
    scrollbar-base-color: #fff;
    /*滚动条的基本颜色*/
}

.open .link_box {
    margin-top: 0;
    opacity: 1;
}

.link_box::-webkit-scrollbar {
    width: 6px;
    background-color: #ccc;
}

.link_box::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
}

.link_box::-webkit-scrollbar-button {
    background-color: transparent;
}

.link_box li {
    border: 2px solid rgb(18, 150, 155);
    background-color: rgb(223, 211, 189);
    height: 30px;
    height*: 34px;
    line-height: 30px;
    line-height*: 28px;
    border-radius: 5px;
    padding-left: 5px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    margin-bottom: 5px;
    +margin-bottom: 0px;
    overflow: hidden;
}

.link_box li:hover {
    background: rgb(241, 239, 236);
}

.link_box li:last-child {
    margin-bottom: 10px;
}

.link_box li:first-child {
    margin-top: 8px;
}

.link_box li p {
    color: #333;
    float: left;
    cursor: default;
}

.link_box li a {
    position: relative;
    float: right;
    color: white;
    display: block;
    width: 60px;
    height: 100%;
    text-align: center;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    background-color: #00b9e7;
}

.link_box li a::selection {
    background-color: transparent;
}

.link_box li a.act {
    margin-right: -5px;
    margin-right*: 0px;
    background*: #8fe1e4;
    color*: #333;
}

.link_box>li>a::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "跳转";
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #666;
    background-color: rgb(145, 225, 228);
    opacity: 0;
}

.link_box>li>a:hover::before {
    opacity: 1;
}

@media screen and (min-width: 0px) {
    .shade span {
        color: transparent;
    }
    .shade span i {
        transition: all .3s;
        display: block;
        width: 18px;
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
    .shade i:nth-child(1) {
        height: 3px;
    }
    .shade i:nth-child(2) {
        height: 3px;
        transform: rotate(90deg);
    }
    .open .shade i:nth-child(1) {
        transform: rotate(180deg);
    }
    .open .shade i:nth-child(2) {
        opacity: 0;
        transform: rotate(180deg);
    }
    .link_box li a {
        color: transparent;
        background: rgb(145, 225, 228) url(./img/right.jpg) no-repeat center center;
        -o-background-size: 100%;
        background-size: 100%;
    }
}

@media screen and (max-width: 550px) {
    .warp {
        left: 50%;
        transform: translateX(-50%);
        top: 4%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    .link_box li:hover {
        background-color: rgb(223, 211, 189);
    }
    .link_box>li>a:hover::before {
        opacity: 0;
    }
}
.total{
    cursor:default ;
    font-size: 12px;
    color: #666;
}
.total::selection{
    background-color: transparent;
}